[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
